# Terraform files
.terraform/
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# Ignore override files as they are usually used for local config changes
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc
